
<div class="jumbotron center">
	<h1>PSLF is fucking awesome!!</h1>
	<p>
		<%= link_to "I'm OG", "#", class: "btn btn-default btn-lg" %>
		<%= link_to "Gimme dat", "#", class: "btn btn-primary btn-lg" %>
	</p>
</div>